@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap");

* {
  font-family: "Press Start 2P", cursive;
}

header {
  display: flex;
  height: auto;
  padding: 0.1rem;

  border-bottom: 2px solid transparent;

  border-image: linear-gradient(to right, #8a5cf6, #f5f7fa);
  border-image-slice: 1;
  box-shadow:
    0 3px 6px rgba(252, 244, 244, 0.24),
    0 3px 6px rgba(208, 23, 254, 0.226);
  background-color: #041241;
  align-items: center;
}

.main_logo {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 1.5rem;
}

.title {
  display: flex;
}

.gamo {
  color: #8a5cf6;
  margin-left: 1rem;
  font-size: 2.5rem;
}

.rithm {
  color: white;
  font-size: 2.5rem;
}

.secret {
  margin-left: auto;
  margin-right: 1.5rem;
  height: 3.2rem;
  width: 10rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: gold;
  transition: all 0.3s ease;
}

.secrete:hover {
  transform: translate(3px, -3px);
  box-shadow: -3px 3px 13px rgba(138, 92, 246, 0.6);
}

main {
  background: radial-gradient(circle at center, #26345e, #071545);
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
}

.card {
  height: 30rem;
  width: 22rem;
  background-color: #041241;
  border-radius: 20px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.card:hover {
  transform: translate(3px, -3px);
  box-shadow: -3px 3px 13px rgba(138, 92, 246, 0.6);
}

.simon_master_logo {
  height: 9rem;
  width: 15rem;
  box-shadow: 0 5px 15px #8a5cf6;
}

.simon {
  margin-top: 4rem;
  font-size: 2rem;
  color: red;
}

.master {
  font-size: 2rem;
  color: yellow;
  margin-top: -0.5rem;
}

.sm_div {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.simon_card {
  border: 3px solid transparent;

  background:
    linear-gradient(#041241, #041241) padding-box,
    linear-gradient(to right, red, orange, yellow, green, blue, purple)
      border-box;
}

.dp_card {
  border: 3px solid;
  border-color: #0876ad #0876ad #1f4068 #1f4068;
}

.dp_logo {
  height: 10rem;
  width: 15rem;
}

.drum {
  font-size: 5rem;
  color: #eaf6ff;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #1e90ff;
}

.pulse {
  font-size: 5rem;
  color: #eaf6ff;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #1e90ff;
  margin-top: -4rem;
}

.dp_div {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.ttg_card {
  border: 3px solid;
  border-color: #ff8c42 #ff8c42 #f5f7fa #f5f7fa;
}

.ttg_logo {
  height: 9rem;
  width: 10rem;
}

.tic {
  font-size: 3rem;
  color: #ff8c42;
  font-family: "Orbitron", sans-serif;
}

.tac {
  font-size: 3rem;
  color: #f5f7fa;
  font-family: "Orbitron", sans-serif;
  margin-top: -2rem;
}

.goo {
  font-size: 3rem;
  color: #ff8c42;
  font-family: "Orbitron", sans-serif;
  margin-top: -2rem;
}

