@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap");

* {
  font-family: "Press Start 2P", cursive;
}

body {
  margin: 0;
}

header {
  display: flex;
  height: auto;
  padding: 0.1rem;

  border-bottom: 2px solid transparent;

  border-image: linear-gradient(to right, #8a5cf6, #f5f7fa);
  border-image-slice: 1;
  box-shadow:
    0 3px 6px rgba(252, 244, 244, 0.24),
    0 3px 6px rgba(208, 23, 254, 0.226);
  background-color: #041241;
  align-items: center;
}

.main_logo {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 1.5rem;
}

.title {
  display: flex;
}

.gamo {
  color: #8a5cf6;
  margin-left: 1rem;
  font-size: 2.5rem;
}

.rithm {
  color: white;
  font-size: 2.5rem;
}

.secret {
  margin-left: auto;
  margin-right: 1.5rem;
  height: 3.2rem;
  width: 10rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: gold;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #041241;

  border: 3px solid transparent;
  background: 
    linear-gradient(gold, gold) padding-box,
    conic-gradient(
        from var(--angle),
        #8a5cf6 0deg 90deg,
        #f5f7fa 90deg 180deg,
        #8a5cf6 180deg 270deg,
        #f5f7fa 270deg 360deg
      )
      border-box;
  animation: rotate-border 10s linear infinite;
}

.secret:hover {
  box-shadow: 0 0 13px rgba(138, 92, 246, 0.6);
  transform: translateY(-6px) scale(1.02);
}

main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
  padding-top: 0rem;
}

.color {
  background: radial-gradient(circle at center, #26345e, #071545);
}

.card {
  height: 30rem;
  width: 22rem;
  background-color: #041241;
  border-radius: 20px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 13px rgba(138, 92, 246, 0.6);
  transform: translateY(-6px) scale(1.02);
}

.simon_master_logo {
  height: 9rem;
  width: 15rem;
  box-shadow: 0 5px 15px #8a5cf6;
  margin-top: -2rem;
}

.simon {
  margin-top: 4rem;
  display: flex;
  font-size: 2rem;
  gap: 0px;
}

.simon span:nth-child(1) {
  color: red;
}
.simon span:nth-child(2) {
  color: rgb(4, 178, 4);
}
.simon span:nth-child(3) {
  color: rgb(60, 60, 252);
}
.simon span:nth-child(4) {
  color: orange;
}
.simon span:nth-child(5) {
  color: rgb(150, 10, 150);
}

.master {
  font-size: 2rem;
  color: yellow;
  margin-top: -0.5rem;
}

.sm_div {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.simon_card {
  border: 3px solid transparent;

  background:
    linear-gradient(#041241, #041241) padding-box,
    conic-gradient(
        from var(--angle),
        red 0deg 60deg,
        orange 60deg 120deg,
        yellow 120deg 180deg,
        green 180deg 240deg,
        blue 240deg 300deg,
        purple 300deg 360deg
      )
      border-box;
  animation: rotate-border 10s linear infinite;
}

.dp_card {
  border: 3px solid transparent;
  background:
    linear-gradient(#041241, #041241) padding-box,
    conic-gradient(
        from var(--angle),
        #0876ad 0deg 90deg,
        #1f4068 90deg 180deg,
        #0876ad 180deg 270deg,
        #1f4068 270deg 360deg
      )
      border-box;
  animation: rotate-border 10s linear infinite;
}

.dp_logo {
  height: 10rem;
  width: 15rem;
  margin-top: 2rem;
}

.drum {
  font-size: 4rem;
  color: #eaf6ff;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #1e90ff;
}

.pulse {
  font-size: 4rem;
  color: #eaf6ff;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #1e90ff;
  margin-top: -4rem;
}

.dp_div {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.ttg_card {
  border: 3px solid transparent;
  background:
    linear-gradient(#041241, #041241) padding-box,
    conic-gradient(
        from var(--angle),
        #ff8c42 0deg 90deg,
        #f5f7fa 90deg 180deg,
        #ff8c42 180deg 270deg,
        #f5f7fa 270deg 360deg
      )
      border-box;
  animation: rotate-border 10s linear infinite;
}

.ttg_logo {
  height: 9rem;
  width: 10rem;
}

.tic {
  font-size: 3rem;
  color: #ff8c42;
  font-family: "Orbitron", sans-serif;
  display: inline-block;
}

.tac {
  font-size: 3rem;
  color: #f5f7fa;
  font-family: "Orbitron", sans-serif;
  margin-top: -2rem;
  display: inline-block;
}

.goo {
  font-size: 3rem;
  color: #ff8c42;
  font-family: "Orbitron", sans-serif;
  margin-top: -2rem;
  text-align: center;
}

.quote {
  color: #ffd700;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.8;
}

.quote-div {
  background-color: transparent;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  main {
    flex-wrap: wrap;
  }

  .card {
    width: 22rem;
    height: 30rem;
  }
}

@media (max-width: 850px) {
  header {
    flex-direction: column;
    padding: 1.5rem 1rem;
  }

  .secret {
    width: 80vw;
    height: 3.5rem;
  }
  .quote {
    font-size: 1.5rem;
  }

  main {
    flex-direction: column;
  }

  .main_logo,
  .secret {
    margin: 0;
  }

  .card {
    width: 100%;
    max-width: 22rem;
    height: 30rem;
  }

  .drum,
  .pulse {
    font-size: 3.5rem;
    margin-top: -2.5rem;
  }

  .tic,
  .tac,
  .goo {
    font-size: 2.5rem;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate-border {
  to {
    --angle: 360deg;
  }
}
