* {
  font-family: "Press Start 2P", cursive;
}

body {
  margin: 0;
}

header {
  display: flex;
  height: auto;
  padding: 0.1rem;

  border-bottom: 2px solid transparent;

  border-image: linear-gradient(to right, #8a5cf6, #f5f7fa);
  border-image-slice: 1;
  box-shadow:
    0 3px 6px rgba(252, 244, 244, 0.24),
    0 3px 6px rgba(208, 23, 254, 0.226);
  background-color: #041241;
  align-items: center;
}

.main_logo {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 1.5rem;
}

.title {
  display: flex;
}

.gamo {
  color: #8a5cf6;
  margin-left: 1rem;
  font-size: 2.5rem;
}

.rithm {
  color: white;
  font-size: 2.5rem;
}

.demo-home {
  margin-left: auto;
  margin-right: 1.5rem;
  height: 3.2rem;
  width: 10rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  color: #041241;
  border: 3px solid transparent;
  background-color: gold;
  display: none;
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.2s ease-in-out;
}

.erase-animation {
  clip-path: inset(0 0 0 100%);
}

main {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background: radial-gradient(circle at center, #26345e, #071545);
}

.first-fooled {
  font-family: "Press Start 2P", cursive;
  font-size: clamp(2rem, 4rem, 5rem);
  text-align: center;
  color: #fff;

  text-shadow: 6px 6px 0px #8a5cf6;

  animation: mini-bounce 2s infinite ease-in-out;
}

@keyframes mini-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.first-div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 95%;
  margin-top: 0.5rem;
}

.first-div > h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
  color: #fef2bf;
  text-align: center;
  line-height: 2;
}

.f-d-h-div {
  display: flex;
  justify-content: center;
}

.first-demo-home {
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 2vmin;
  font-weight: bolder;
  background: linear-gradient(145deg, #0d1736, #070e22);
  border-top: 2px solid #8a5cf6;
  border-bottom: 2px solid #f5f7fa;
  border-left: 2px solid #8a5cf6;
  border-right: 2px solid #f5f7fa;
  color: #fff;
  border-radius: 1rem;
  box-shadow:
    -0.15rem 0 0.5rem #a07fef,
    0 0.15rem 0.5rem rgba(245, 247, 250, 0.6);
  cursor: pointer;
  transition: transform 0.1s ease;
}

.first-demo-home:hover {
  transform: translateY(-2px);
  background: #020f29;
  box-shadow:
    -0.35rem 0 0.65rem #a07fef,
    0 0.35rem 0.65rem rgba(245, 247, 250, 0.6);
}

.wrong {
  background: red;
}

.fooled-again {
  font-size: clamp(1rem, 3rem, 4rem);
  color: gold;
  text-align: center;
  margin-top: 1rem;
  text-shadow: 6px 6px 0px #8a5cf6;
  animation: mini-bounce 3s infinite ease-in-out;
  display: none;
}

.second-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  display: none;
}

.second-div > h2 {
  font-size: 1.2rem;
  color: #b0dc02;
  text-align: center;
  line-height: 2;
}

.s-d-h-div {
  display: flex;
  justify-content: center;
  display: none;
}

.second-demo-home {
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 2vmin;
  font-weight: bolder;
  background: linear-gradient(145deg, #0d1736, #070e22);
  border-top: 2px solid #8a5cf6;
  border-bottom: 2px solid #f5f7fa;
  border-left: 2px solid #8a5cf6;
  border-right: 2px solid #f5f7fa;
  color: #fff;
  border-radius: 1rem;
  box-shadow:
    -0.15rem 0 0.5rem #a07fef,
    0 0.15rem 0.5rem rgba(245, 247, 250, 0.6);
  cursor: pointer;
  transition: transform 0.1s ease;
}

.second-demo-home:hover {
  transform: translateY(-2px);
  background: #020f29;
  box-shadow:
    -0.35rem 0 0.65rem #a07fef,
    0 0.35rem 0.65rem rgba(245, 247, 250, 0.6);
}

