* {
  font-family: "Press Start 2P", cursive;
}

body {
  margin: 0;
}

header {
  display: flex;
  height: auto;
  padding: 0.1rem;

  border-bottom: 2px solid transparent;

  border-image: linear-gradient(to right, #8a5cf6, #f5f7fa);
  border-image-slice: 1;
  box-shadow:
    0 3px 6px rgba(252, 244, 244, 0.24),
    0 3px 6px rgba(208, 23, 254, 0.226);
  background-color: #041241;
  align-items: center;
}

.main_logo {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 1.5rem;
}

.title {
  display: flex;
}

.gamo {
  color: #8a5cf6;
  margin-left: 1rem;
  font-size: 2.5rem;
}

.rithm {
  color: white;
  font-size: 2.5rem;
}

.demo-home {
  margin-left: auto;
  margin-right: 1.5rem;
  height: 3.2rem;
  width: 10rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: gold;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #041241;
  border: 3px solid transparent;
  background-color: gold;
}

.demo-home:hover {
  box-shadow: 0 0 13px rgba(138, 92, 246, 0.6);
  transform: translateY(-6px) scale(1.02);
}
